

.tbody_cell{
    padding: 15px 0;
    margin: 5px 0;
    color: var(--normal-text-color);
    border-bottom: 2px solid var(--tbody-border-color);  
    text-align: center;
    font-weight: 500;
    font-size: 18px;
    overflow-x: scroll ;
    white-space: nowrap;
}


.tfoot_head_cell {
    font-size: 18px;
    text-wrap: nowrap;
    padding: 10px;
    min-width: 200px;
    color: var(--highlight-text-color);
    background-color: var(--thead-bg-color);
}



